<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> <%= PageTitle %></title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    