<%- include('./includes/head.ejs') %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/500.css" />
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>500 - Internal Server Error!!</h2>
            </div>
            <a href="/">Go TO Homepage</a>
        </div>
    </div>
    <%- include('./includes/end.ejs') %>